@{
    ViewBag.Title = "About";
}

@{
    ViewBag.Header = "Welcome to XYZ Store";
}

@{
    ViewBag.Footer = "Copyright of XYZ Store";
}

<header>@ViewBag.Header</header>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<footer>@ViewBag.Footer</footer>